<div class="center">
<h4>Selecciona tu mes de nacimiento:</h4>
<mat-form-field>
  <mat-label>Mes</mat-label>
  <mat-select formControlName="mes" (selectionChange)="onChange($event.value)">
    <mat-option *ngFor="let mes of meses"  [value]="mes">
      {{mes}}
    </mat-option>
  </mat-select>
</mat-form-field>

</div>
<div *ngIf="resultado">

  <div class="center">
<mat-card class="example-card">
    <mat-card-title>Eres:{{resultado}}</mat-card-title>
    <img mat-card-image src={{link}} alt="Lofo">
    <mat-card-content>
      <p>
        {{descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions>
 
    </mat-card-actions>
  </mat-card>
</div>
</div>
