.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

  }
  h4{
    margin-right: 20px;
  }